body {
    margin: auto;
}

#myDiv {
    text-align: center;
    margin: 10px 0;
}

.habit-details {
    background-color: aqua;
    padding: 10px 0;
    margin: 10px 0;
}

.daily-updates {
    display: flex; 
    justify-content: space-evenly;
    background-color: lightgreen;
}